.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 0px ridge;
    height: 100%;
}

.nav-item {
    color: rgb(255, 255, 255);
}

.nav-link {
    color: #ffffff;
}

.navbar {
    background-image: url("../image/nav_cover3.png");
}

.footer {
    background-image: url("../image/footer_cover1.png");
    margin: 0px auto;
    padding: 5px 0px;
    width: 100%;
}

.jumbotron {
    margin: 0px;
    background: rgb(87, 151, 235) color: floralwhite;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.bg {
    background-image: url("../image/long1.png");
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel {
    background: #512DA8;
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.contentcolor {
    text-align: center;
    color: red;
}

body {
    font-family: Arial;
}


/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.price {
    text-align: center;
}

.nature {
    width: 100%;
    height: 300px;
    margin-left: 5px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

.linkcolor {
    color: black;
}